node_modules/
.next/
out/
build/
.DS_Store

# entorno
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# basura local que device_bash no puede borrar
_to_delete/
